{% extends 'base.html' %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load widget_tweaks %}

{% block header %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block extraCss %}
{% endblock %}

{% block title %}
    手札一覧 | LMYGAME
{% endblock %}

{% block content %}
<div class="row mt-4">
    {% for name_plate in name_plate_list %}
        <div class="col-sm-3">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-title" style="font-size: 1.0em; font-family: 'Osaka';">
                                {{ name_plate.first_name }}　{{ name_plate.last_name }}
                            </p>
                            <p class="card-text" style="font-family: 'YuGothic'">
                                {{ name_plate.department }}
                            </p>
                            <p class="card-text" style="font-family: 'YuGothic'">
                                {{ name_plate.position }}　
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% if not is_fixed_list %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-2 offset-sm-3">
                <input class="btn btn-primary" type="submit" name="reselect" value="手札を選び直す">
            </div>
            <div class="col-sm-2 offset-sm-2">
                <input class="btn btn-primary" type="submit" name="fix" value="手札を確定する">
            </div>
        </div>
    </form>
{% else %}
    現在のポイント : {{ point }}pt
{% endif %}
{% endblock %}