{% extends 'base.html' %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load widget_tweaks %}

{% block header %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="row">
        <form action="" method=post>
            {% csrf_token %}
            {% if is_admin %}
                {% if not is_disp_answer %}
                    <input class="btn btn-primary" type="submit" name="selection" value="回答者選出">
                    <input class="btn btn-primary" type="submit" name="answer" value="答えを表示">
                {% else %}
                    <input class="btn btn-primary" type="submit" name="next" value="次の問題へ">
                {% endif %}
            {% endif %}
        </form>
    </div>
    <div class="row mt-4 h-25">
        {{question.content | linebreaksbr}}
    </div>
    <div class="row h-50">
        {% if not is_disp_answer %}
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field|add_class:'answer_field' }}
                {% endfor %}
                {% if is_respondent %}
                    <input id="answer" class="btn btn-primary" type="submit" name="respond" value="回答する">
                {% endif %}
            </form>
        {% else%}
            答えは、{{ answer }}です。
        {% endif %}
    </div>
    <script>
        $('#answer').click(function(){
            if (!confim('この回答でよろしいですか？')){
                return false;
            } else {
                return true;
            }
        });
    </script>
    <style>
        .answer_field {
            list-style-type: none;
        }
    </style>
{% endblock %}
