{% extends 'base.html' %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load widget_tweaks %}

{% block header %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block title %}
{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="row mt-3">
            {% if is_admin %}
                <!-- 回答者を選ぶボタン -->
                <div class="col-md-2">
                    <input id="selection" onclick="return confirmSelection();" class="btn btn-primary" type="submit" name="selection" value="回答者を選ぶ">
                </div>

                <!-- ポイント付与ボタン -->
                <div class="col-md-2">
                    <input id="grantPoint" onclick="return confirmGrantPoint();" class="btn btn-primary" type="submit" name="grantPoint" value="ポイント付与">
                </div>

                <!-- 問題を表示するボタン（リンク） -->
                <div class="col-md-8">
                    <a href="{% url 'lmygame:question' %}" id="dispQuestion" class="btn btn-primary">問題を表示する</a>
                </div>
            {% endif %}
        </div>
        <div class="row mt-3 h-25">
            {% for respondence in respondences_info %}
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                        <div class="card-body">
                            <!-- 名前 -->
                            <h5 class="card-title">{{ respondence.first_name }}　{{ respondence.last_name }}</h5>
                            <!-- 所属部署 -->
                            <p class="card-text">{{ respondence.department }}</p>
                            <!-- 役職 -->
                            <p class="card-text">{{ respondence.position }}　</p>
                            <div class="form-check">
                                <input type="hidden" name="respondence" value="{{ respondence.username }}">
                                <input class="form-check-input" type="checkbox" id="correctCheck{{ forloop.counter }}" name="correct" value="{{ respondence.username }}">
                                <label for="correctCheck{{ forloop.counter }}">正解</label>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
    <script type="text/javascript" src="{% static 'js/selection.js' %}"></script>
{% endblock %}