{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load widget_tweaks %}

<!doctype html>
<html lang="jp">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block header %}
        {% endblock %}
        <title>{% block title %}2020年度PS納会イベント{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'lmygame:index' %}">LMY GAME</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    {% if request.user.is_authenticated %}
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'lmygame:logout' %}">ログアウト</a>
                            </li>
                        </ul>
                        <span class="navbar-text">
                                こんにちは、{{ request.user.first_name }}　{{ request.user.last_name}}さん
                        </span>
                    {% else %}
                        <span class="navbar-text">
                            こんにちは、ゲストさん
                        </span>
                    {% endif %}
                </div>
            </nav>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>